@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/base";
@import "tailwindcss/utilities";

html,
body,
#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-grayLight;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

.swiper-pagination {
  @apply flex items-center gap-2 bottom-[16px] absolute left-0 w-full justify-center z-[1];
}

.swiper-pagination-bullet {
  @apply border-[0.5px] flex w-[6px] h-[6px] rounded-none bg-none border-white rotate-45 transition-all cursor-pointer;
}

.swiper-pagination-bullet-active {
  @apply bg-white;
}

.swiper.grey .swiper-pagination {
  @apply relative bottom-0 left-0 mt-4 pb-1;
}

.swiper.grey .swiper-pagination-bullet {
  @apply border-grayPlaceholder;
}

.swiper.grey .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-grayPlaceholder;
}

.swiper.vertical .swiper-pagination {
  @apply flex-col h-full items-end right-4 left-auto w-fit;
}

@media (max-width: 1024px) {
  .product-content-slider {
    @apply w-full;
  }
}
